@{
    ViewBag.Title = "Sitemap service";
}

<section id="main">
    <div class="form">
        <input spellcheck="false" placeholder="Specify website URL"  />
        <button>Parse sitemap</button>
    </div>

    <progress id="progress" max="100" value="0"></progress>

    <div id="sitemap">
        
    </div>
</section>